.grid {
  height: 80%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(6, calc(100% / 6));
  background: #67d3d1;
  background: -webkit-linear-gradient(left, #67d3d1, #21d5df);
  background: -moz-linear-gradient(left, #67d3d1, #21d5df);
  background: linear-gradient(to right, #67d3d1, #21d5df);
  border-radius: 10px;
}
